body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

.clear {
	clear: both;
}

.linedwrap {
  min-height: 400px;
  float: left;
}

.visual {
  min-height: 400px;
}

#body {
  min-height: 400px;
  width: 49%;
  font-size: 10pt;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  line-height: normal !important;
  white-space: pre-line;
}

#preview {
  float: left;
  margin-left: 1.5%;
}
