body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

.clear {
	clear: both;
}

#body {
  min-height: 400px;
  width: 90%;
  font-size: 10pt;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  line-height: normal !important;
}

#preview {
  width: 90%;
  min-height: 400px
}
