<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{HENET_SERVER}}/resources/js/henet.js"></script>

<style>
#henet_comment textarea {
  width: 100%;
  min-height: 58px;
  margin: 0px 0px 0.3em;
  padding: 0.4em 0.8em;
  border-radius: 3px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

#henet_comment input {
  padding: 0.3em 10px;
  max-width: 100%;
  border-radius: 3px;
  background-color: #FFF;
  line-height: 1.4em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

#henet_comment button {
  padding: calc(0.3em - 1px);
  border-radius: 2px;
  border: 1px solid #CCC;
  background-color: #DDD;
  cursor: pointer;
  outline: 0px none;
  line-height: 1.4em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

#henet_comment {
  margin-bottom: 15px;
}

.henet-thread {
  max-width: 68em;
  margin: 0px auto 2em;
}

</style>


<section id="henet-thread">
 <div class="henet-thread">
  {% if article.metadata.comments and article.metadata.comments['comments']|length != 0 %}
    <h4>{{article.metadata.comments['comments']|length}} Commentaires</h4>
 {% else %}
   <h4>Aucun commentaire pour l'instant</h4> 
 {% endif %}

 <form id="henet_comment" action="">
  <input type="hidden" name="source_path" 
         value="{{article.get_relative_source_path()}}">
  <textarea name="text" placeholder="Insérez votre commentaire ici (au moins 3 lettres)"></textarea>
  <section class="auth-section">
     <input name="author" placeholder="Nom" value="" type="text">
     <button type="button" 
      onclick="post_comment('#henet_comment', '{{HENET_SERVER}}')">Soumettre</button>
  </section>
 </form>
 {% if article.metadata.comments %}
    {% for comment in article.metadata.comments['comments'] %}
      <div class="henet_comment">
          <span class="author">{{ comment['author'] }}</span>
          <span class="date">{{ comment['date'] }}</span>
          <div>{{ comment['text'] }}</div>
      </div>
      {% endfor %}
 {% endif %}
 </div>
</section>
